@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: black;
    font-family: 'NanumSquareNeo-Variable';
    color: #fff;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}

h2 {
    text-align:center;
    margin-top: 50px;
}

table {
    width:100%;
    text-align:center;
    background-color: #2b2b2b;
    border-radius: 5px;
    border-collapse: collapse
}

tr {
    height: 35px;
}

