<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글리스트페이스</title>
    <link href="/css/boardList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrap">
        <h2>자유게시판</h2>
        <div class="write" style="text-align:center; margin-top: 20px; margin-bottom: 20px;">
            <input type="button" value="글작성" onClick="location.href='/next/board/write'" th:if="${userid != null}"/>
        </div>



        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board: ${list}">
                    <td th:text="${board.id}"></td>
                    <td><a th:text="${board.title}" th:href="@{/next/board/view(id=${board.id})}"></a></td>
                    <td th:text="${board.userid}"></td>
                </tr>
            </tbody>
        </table>

        <div style="text-align:center; margin-top: 20px;">
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/next/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color : white"></strong>
            </th:block>
            <form th:action="@{/next/board/list}" method="get">
                <input type="text" name="searchKeyword">
                <button type="submit">검색</button>
            </form>
        </div>

    </div>
</body>
</html>