<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bx슬라이더  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <!-- CSS -->
  <link href="/css/content.css" rel="stylesheet" type="text/css" />
  <title>메인컨텐츠</title>
</head>
<body>
<div id="wrap">

  <!-- 네비바 -->
  <div id="nav" style="margin-top: 20px;">

    <div>NEXTLEBE</div>

    <div style="float:left; margin-left:20px;">
      <select name="movieType" onchange="location.href=(this.value);">
        <option value="">장르</option>
        <option value="/next/">한국</option>
        <option value="">해외</option>
        <option value="">애니메이션</option>
        <option value="">액션</option>
        <option value="">코미디</option>
        <option value="">로맨스</option>
        <option value="">스릴러</option>
        <option value="">호러</option>
        <option value="">SF</option>
        <option value="">판타지</option>
        <option value="">드라마</option>
        <option value="">범죄</option>
        <option value="">뮤지컬</option>
      </select>
    </div>

    <div id="searchBar" style="margin-left:15%;">
      <div id="search"><input type="text" id="search" name="search" placeholder="Search"></div>
      <div><button type="submit" id="searchButton">SEARCH</button></div>
    </div>

    <div id="home" style="float: right;">
      <div><a href="#">HOME</a></div>
      <div><a href="#">영화추천</a></div>
      <div><a href="#">게시판</a></div>
      <div><th:if test="${signIn == null}">
        <a></a>
      </th:if>
        <th:if test="${signIn != null}">
          <a>${session.signIn['username']} </a>
        </th:if></div>
    </div>

  </div>

  <!-- 네비&콘텐츠 -->
  <div id="na_co" style="margin-top: 40px;">
    <div><img src="C:\Temp/movie1.jfif"></div>
  </div>

  <!-- 랜덤컨텐츠 -->
  <div style="margin-bottom: 100px;"></div>

  <div id="content" style="margin-top: 30px;">
    <h3><span>화장한 날에는</span> 이 영화 어때요? 🌞</h3>
    <div class="slider">
      <div th:each="list:${list}"><a th:href="@{/next/popup(id=${list.id})}"><img class="listImg" th:src="${list.img}"></a></div>
    </div>

    <div style="margin-bottom: 100px;"></div>

    <h3><span>설렘주의</span> 로맨스 ❤️</h3>
    <div class="slider">
      <div th:each="list:${list}"><a th:href="@{/next/popup(id=${list.id})}"><img class="listImg" th:src="${list.img}"></a></div>
    </div>

    <div style="margin-bottom: 100px;"></div>

    <h3>감동이 있는 <span>애니메이션</span> 모음 🍭</h3>
    <div class="slider">
      <div th:each="list:${list}"><a th:href="@{/next/popup(id=${list.id})}"><img class="listImg" th:src="${list.img}"></a></div>
    </div>
  </div>

</div>
</body>
<script>
$(document)
.ready(function(){
  $('.slider').bxSlider({
      auto: false,
      pause: 1000,
      autoHover: true,
      minSlides: 5,
      maxSlides: 5,
      slideWidth: 220,
      slideMargin: 10,
      pager: false,
      touchEnabled : (navigator.maxTouchPoints > 0),
  });
});
</script>
</html>