<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>메인페이지</title>
</head>
<body>
<div id="wrap">
    <div id="content">
        <p>지금 뭐보지?</p>
        <p>더 이상 고민할 필요 없어요.</p><br>
        <p>국내 영화부터 명작 애니매이션까지</p>
        <p>NEXTLEBEL만의 추천 알고리즘으로</p>
        <p>취향저격 영화보기!</p><br>
        <input type="button" id="login" value="1초만에 가입해보세요" onClick="location.href='/next/login'">
    </div>
</div>
</div>
</body>
</html>