<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>팝업</title>
    <link href="/css/popup.css" rel="stylesheet" type="text/css" />
</head>
<style>

</style>
<body>
<div id="wrap">
    <div id="wraap" style="margin-top:80px;">
        <div id="movie">
            <h1 th:text="${movie.title}"></h1>
            <h3>
                <span th:text="|평점 ${movie.mark}|"></span>
                <block th:each="type:${type}">
                    <span class="type" th:text="|${type.typename}|"></span>
                </block>
            </h3>
            <h4 th:text="${movie.open}"></h4>
            <div th:text="${movie.explain}"></div>
        </div>

        <div id="review">
            <h2>한 줄 리뷰</h2>
            <th:block th:if="${count == null}">총 0건/평점 0점</th:block>
            <h4 th:if="${count != null}"><span th:text="|총 ${count}건|"></span> / <span th:text="|평점 ${avg}점|"></span></h4>

            <h3 style="margin-bottom: 50px;">
                <form>
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <input type="text" id="content" value="">
                    <input type="hidden" id="userid" th:value="${userid}">
                    <input type="hidden" id="movieid" th:value="${movie.id}">
                </form>
                <input type="button" id="button" value="입력하기" onClick="window.close()">
            </h3>

            <h3>사용자 평</h3>
            <div style="width:100%; height:250px; overflow-y:scroll">
                <table id="reviewtable" th:each="list:${list}" width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td rowspan="2" style="width:20%" th:if="${list.rating} == 1">⭐</td>
                        <td rowspan="2" style="width:20%" th:if="${list.rating} == 2" value="**">⭐⭐</td>
                        <td rowspan="2" style="width:20%" th:if="${list.rating} == 3" value="***">⭐⭐⭐</td>
                        <td rowspan="2" style="width:20%" th:if="${list.rating} == 4" value="****">⭐⭐⭐⭐</td>
                        <td rowspan="2" style="width:20%" th:if="${list.rating} == 5" value="*****">⭐⭐⭐⭐⭐</td>
                        <td th:text="${list.content}" style="height:30px"></td>
                    </tr>
                    <tr>
                        <td th:text="${list.userid}" class="user" style="height:5px"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://htmlexplorer.com/2014/05/display-star-ratings-using-jquery-and.html"></script>
<script th:inline="javascript">
$(document)

    $('#star a').click(function(){
         $(this).parent().children("a").removeClass("on");
         $(this).addClass("on").prevAll("a").addClass("on");
         console.log($(this).attr("value"));
     });

     $('#button').click(function(){

        var data = {
        id : $('#movieid').val(),
        content : $('#content').val(),
        rating : $('[name=rating]:checked').val(),
        userid : $('#userid').val()
    }

    $.ajax({
        <!--anyne: true,-->
        url: "/next/popup/pro",
        type: "POST",
        contentType: 'application/json',
        dataType: "json",
        data: JSON.stringify(data),
        success: function (data) {
            console.log(data);
        }
    })

    });

</script>
</html>