<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>팝업</title>
    <link href="/css/popup.css" rel="stylesheet" type="text/css" />
</head>
<style>
<!--.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
&lt;!&ndash;  padding:0 .2em;&ndash;&gt;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}-->
</style>
<body>
<div id="wrap">
    <div id="wraap">
        <div id="movie">
            <h1 th:text="${movie.title}"></h1>
            <h3>평점 <span th:text="${movie.mark}"></span>  <span class="type">· 액션/ 모험/ SF/ 스릴러</span></h3>
            <h4 th:text="${movie.open}"></h4>
            <div th:text="${movie.explain}"></div>
        </div>

        <div id="review">
            <h2>한 줄 리뷰</h2>
<!--            <h3><span>총 4건</span> / <span>평점 3.8</span></h3>-->

            <h3 style="margin-bottom: 50px;">
                <form action="/next/popup/pro" method="post" enctype="multipart/form-data">
                    평점:
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <input type="text" name="content">
                    <input type="text" name="userid" th:value="${userid}">
                    <input type="text" name="movieid" th:value="${movie.id}">
                    <button type="submit">입력하기</button>
                </form>


            </h3>

            <h3>사용자 평</h3>
<!--            <div id="userReview">-->
<!--                <div style="margin-bottom: 20px;">⭐⭐⭐⭐⭐ 재밋대요 <span>uuzin</span></div>-->
<!--                <div style="margin-bottom: 20px;">⭐⭐⭐⭐⭐ 재밋대요 <span>uuzin</span></div>-->
<!--                <div style="margin-bottom: 20px;">⭐⭐⭐⭐⭐ 재밋대요 <span>uuzin</span></div>-->
<!--            </div>-->
        </div>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:inline="javascript">
$(document)
    $('#star a').click(function(){
         $(this).parent().children("a").removeClass("on");
         $(this).addClass("on").prevAll("a").addClass("on");
         console.log($(this).attr("value"));
     });
</script>
</html>