<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/signin.css" rel="stylesheet" type="text/css" />
    <title>회원가입</title>
</head>
<body>
<div id="wrap">
    <div id="content">
        <span class="logo">회원가입</span>
        <form action="/next/signpro" method="post" enctype="multipart/form-data">
            <p style="margin-top: 30px;"><input type="text" id="login2" name="userid" placeholder="아이디"></p>
            <p><input type="text" id="login2" name="userpwd" placeholder="비밀번호"></p>
            <p><input type="text" id="login2" name="username" placeholder="이름"></p>
            <p><button type="submit" id="login">회원가입</button></p><br>
        </form>
        <p class="ex">이미 Nextlevel의 회원이시라면?</p>
        <p><a href="#">로그인 페이지로 이동</a></p>
    </div>
</div>
</div>
</body>
</html>